body{
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;

/*    -webkit-user-select: none;
    !* Chrome/Safari *!
    -moz-user-select: none;
    !* Firefox *!
    -ms-user-select: none;
    !* IE10+ *!
    !* Rules below not implemented in browsers yet *!
    -o-user-select: none;
    user-select: none;*/
}

.chat-box {
    position: fixed;
    bottom: 0;
    right: 3%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    width: 270px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.chat-box.hide {
    height: 35px;
}

.chat-box.show {
    width: 314px;
    min-height: 25px;
    height: auto;
}

.header-chat {
    position: relative;
    text-align: center;
    width: 100%;
    height: 25px;
    padding: 5px 0;
    font-size: 13px;
    cursor: pointer;
}

.header-chat .online-icon {
    float: left;
    width: 10px;
    height: 10px;
    margin: 9px 15px 0 0;
    border-radius: 50%;
}

.online-icon.online {
    background: #00ff07;
}

.online-icon.offline {
    background: #a69d99;
}

.chat-box.show .online-icon {
    margin-top: 5px;
    margin-left: 10px;
}

.header-chat .header-title {
    font-family: "Roboto";
    color: #FFFFFF;
    margin: 0 auto;
    width: 70%;
}

.chat-box.show .header-chat {
    height: 34px;
}

.chat-box.hide .header-title {
    text-transform: uppercase;
}

.chat-box.show .header-title {
    margin: 0;
    text-transform: capitalize;
    font-weight: 500;
    word-spacing: 0;
}

.header-title span{
    font-weight: 500;
    float: left;
    margin-top: 5px;
}

.chat-box.show .header-title span {
    margin-top: 1px;
}

.support-position {
    position: absolute;
    top:55%;
    left: 5%;
    clear: both;
    display: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}

.chat-box.show .support-position {
    display: block;
}

.close-button, .send-to-email, .show-history {
    width: 22px;
    border: none;
    outline: none;
    margin-right: 10px;
    bottom: 5px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    float: right;
    font-weight: 500;
}

.close-button {
    /* Safari */
    -webkit-transform: rotate(90deg) scale(1, 0.5);
    /* Firefox */
    -moz-transform: rotate(90deg) scale(1, 0.5);
    /* IE */
    -ms-transform: rotate(90deg) scale(1, 0.5);
    /* Opera */
    -o-transform: rotate(90deg) scale(1, 0.5);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

    font-size: 30px;
    color: #FFFFFF;
}

.chat-box.hide .close-button {
    bottom: 7px;
}

.chat-box.show .close-button {
    /* Safari */
    -webkit-transform: rotate(270deg) scale(1, 0.5);
    /* Firefox */
    -moz-transform: rotate(270deg) scale(1, 0.5);
    /* IE */
    -ms-transform: rotate(270deg) scale(1, 0.5);
    /* Opera */
    -o-transform: rotate(270deg) scale(1, 0.5);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    bottom: 3px;
}

.send-to-email {
    font-size: 24px;
    margin-right: 15px;
    margin-top: 4px;
    display: none;
}

.show-history {
    display: none;
    margin-top: 8px;
    font-size: 18px;
}

.send-to-email, .show-history, .close-button {
    opacity: 0.3;
    color: #ffffff;
}

.send-to-email:hover, .show-history:hover, .close-button:hover {
    opacity: 1;
}

.close-button:hover{
    color: #DDD;
}

.chat-box.show .send-image, .chat-box.show .send-to-email, .chat-box.show .show-history {
    display: block;
}

.notify {
    position: absolute;
    top: 30%;
    right: 15%;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 50%;
    height: 12px;
    min-width: 12px;
    font-size: 9px;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    display: none;
    background: rgba(255,117,117,1);
    background: -moz-linear-gradient(top, rgba(255,117,117,1) 0%, rgba(240,47,23,1) 51%, rgba(231,56,39,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,117,117,1) 0%, rgba(240,47,23,1) 51%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(top, rgba(255,117,117,1) 0%, rgba(240,47,23,1) 51%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,117,117,1) 0%, rgba(240,47,23,1) 51%, rgba(231,56,39,1) 100%);
    background: linear-gradient(to bottom, rgba(255,117,117,1) 0%, rgba(240,47,23,1) 51%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7575', endColorstr='#e73827', GradientType=0 );
}

.chat-box.show .notify {
    display: none;
}

.body-chat {
    width: 100%;
    height: 180px;
    font-size: 13px;
    position: relative;
}

.msg-noti {
    padding: 10px;
    margin: 10px;
    background: #e9f3fd;
    width: 80%;
    text-align: center;
    color: #000000;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
}

.overlay img {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 9999;
}

.avatar {
    position: relative;
    top: 8px;
    border: none;
    outline: none;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url('https://rdapi.zamba.vn/static/avatar/giangnguyenthuy_vccorp_vn.jpg') no-repeat;
    background-size: 25px 25px;
}

.message {
    clear: both;
}

.greeting {
    margin-top: 5px !important;
    text-align: left;
}

.history-chat {
    list-style: none;
    padding: 5px 10px 0px 10px;
    margin: 0;
    height: 170px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.history-chat .avatar {
    margin-left: 0px !important;
}

.msg {
    display: inline-block;
    max-width: 230px;
    /*border: 1px solid #979797;*/
    border-radius: 7px;
    word-break: keep-all;
    word-wrap: break-word;
    padding: 10px;
    margin: 0px 5px 5px 10px;
    font-weight: 300;
    line-height: 20px;
}

.msg img {
    max-width: 100%;
    max-height: 100%;
}

.msg a{
    color: #ffffff;
    text-decoration: none;
}

.msg a:hover {
    text-decoration: underline;
}

.msg-left {
    float: left;
}

.msg-left .avatar {
    margin-left: 10px;
}

.msg-left .msg {
    background: #e9f3fd;
}

.msg-right {
    float: right;
    margin-right: 10px;
    position: relative;
}

.msg-right .msg {
    background: #007aff;
    color: #ffffff;
}

.msg-right .msg.msgImg{
    background: #e9f3fd !important;
}

/*.msg-right .msg:after {
    content: "";
    position: absolute;
    z-index: 9999;
    !*bottom: 0;*!
    !*margin-right: -20px;*!
    width: 60px;
    height: 30px;
    background: url("https://rdapi.zamba.vn/static/batdongsan/img/1y.png") no-repeat;
}*/

.history-chat .msg {
    text-align: left;
    margin: 5px 10px;
    padding: 5px 10px;
}

.footer-chat {
    width: 100%;
    height: auto;
}

.input-chat {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px;
    border: none;
    border-top: 1px solid #d3d3d3;
    overflow: hidden;
    outline: none;
    font-family: Arial, SansSerif;
    font-size: 13px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-chat:focus {
    border-top: 1px solid #5afff5;
}

.send-image {
    position: absolute;
    bottom: 15px;
    right: 25px;
    width: 20px;
    height: 15px;
    background: url("https://rdapi.zamba.vn/static/batdongsan/img/img.png") no-repeat;
    background-size: 20px 15px;
    cursor: pointer;
    opacity: 0.4;
    display: none;
}

.send-image:hover {
    opacity: 1;
}


input[type="file"] {
    display: none;
}